<style>
    body{
        background-color: #472183;
    }
</style>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Welcome!</h1>
    <p></p>
</div>

@if (ViewBag.AfisareButoane == true)
{
    <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">

            <a class="btn btn-primary" href="/Tasks">Tasks</a>
            <a class="btn btn-primary" href="/Projects">Projects</a>
            <a class="btn btn-primary" href="/Teams">Teams</a>
    </div>
}

@if (ViewBag.AfisareUser == true || ViewBag.AfisareOrganizer == true || ViewBag.AfisreButoane == false)
{
    <div>
        <a class="btn btn-dark" href="/Tasks">Tasks</a>
        <a class="btn btn-dark" href="/Teams">Echipele din care faci parte</a>
    </div>
}


